<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加成员表单</title>
    <link rel="stylesheet" href="/layui_dist/css/layui.css">
</head>
<body>
  <form class="layui-form" action="">
  <div class="layui-form-item" >
    <div class="layui-inline">
      <label class="layui-form-label">项目名称</label>
      <div class="layui-input-inline">
        <input type="text" name="nameOfProject" placeholder="请输入, 必须要填" lay-verify="required|text" lay-reqtext="项目名称是必填项，岂能为空？" autocomplete="off" class="layui-input" style="width: 200px">
      </div>
    </div>
  </div>
  <div class="layui-form-item" >
    <div class="layui-inline">
      <label class="layui-form-label">AV计划工时</label>
      <div class="layui-input-inline"  style="width: 38px">
        <input type="number" name="hourAV"  placeholder=0 autocomplete="off" class="layui-input" style="width: 50px">
      </div>
      <label class="layui-form-label">CB/ME计划工时</label>
      <div class="layui-input-inline"  style="width: 38px">
        <input type="number" name="hourCBME" placeholder=0  autocomplete="off" class="layui-input" style="width: 50px">
      </div>
      <label class="layui-form-label">CL/STR计划工时</label>
      <div class="layui-input-inline"  style="width: 38px"> 
        <input type="number" name="hourCLSTR" placeholder=0 autocomplete="off" class="layui-input" style="width: 50px">
      </div>
    </div>
  </div>
  <div class="layui-form-item">
    <!-- <div class="layui-inline">
      <label class="layui-form-label">开始日期</label>
      <div class="layui-input-inline">
        <input type="text" name="startdate" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">结束日期</label>
      <div class="layui-input-inline">
        <input type="text" name="enddate" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
    </div> -->
    <div class="layui-inline">
      <label class="layui-form-label">开始日期</label>
      <div class="layui-input-inline">
        <input type="text" name="startdateOfProject" id="startdate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">结束日期</label>
      <div class="layui-input-inline">
        <input type="text" name="enddateOfProject" id="enddate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
    </div> 
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="submit" lay-filter="addform">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script src="/layui_dist/layui.js"></script>
<script>
layui.use(['form','laydate'],function(){
  var form = layui.form;
  var laydate = layui.laydate;
  var $ = layui.$;
  var $$ = parent.layui.$;
  laydate.render({
    elem:"#startdate"
  });
  laydate.render({
    elem:"#enddate"
  });
  form.on('submit(addform)',function(data){
    var dataFromForm = data.field;
    dataFromForm['hourOfProject'] = [data.field.hourAV,data.field.hourCBME,data.field.hourCLSTR];
    dataFromForm.startdateOfProject = dataFromForm.startdateOfProject;
    dataFromForm.enddateOfProject = dataFromForm.enddateOfProject;
    $.ajax({
      url:'/project/addOneProject',
      type:'get',
      data:dataFromForm,
      dataType:'json',
      success:function(data){
        var thisIframe = parent.layer.getFrameIndex(window.name);
        if(data.SUCCESS == 1) {
          $$("#add_status").val("1"); // transfer res to father
          parent.layui.layer.close(thisIframe);
        }else{
          $$("#add_status").val("0"); // transfer res to father
          parent.layui.layer.close(thisIframe);
        } 
      }
    })
  });
});
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>
