<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/layui_dist/css/layui.css">
  <style>
    #idCurrent,#nameCurrent,#postCurrent,#groupCurrent,#majorCurrent {
      text-align: left;
    }
  </style>
</head>
<body>
  <form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">职编：</label>
      <label class="layui-form-label" id="idCurrent">职编占位符</label>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">姓名：</label>
      <label class="layui-form-label" id="nameCurrent">姓名占位符</label>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-block">
        <input type="text" name="nameOfStaff" lay-verify="required" lay-reqtext="请输入人员姓名" placeholder="请输入新姓名" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">岗位名称：</label>
      <label class="layui-form-label" id="postCurrent">岗位名称占位符</label>
    </div> 
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-block">
        <input type="text" name="postOfStaff" lay-verify="required" lay-reqtext="请输入人员岗位名称" placeholder="请输入人员岗位名称" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">组别：</label>
      <label class="layui-form-label" id="groupCurrent" style="width: 200px">组别占位符</label>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-block">
          <input type="radio" name="groupOfStaff" value="领班" title="领班">
          <input type="radio" name="groupOfStaff" value="排故工程师" title="排故工程师">
          <input type="radio" name="groupOfStaff" value="ME/CB" title="ME/CB">
          <input type="radio" name="groupOfStaff" value="AV" title="AV">
          <input type="radio" name="groupOfStaff" value="STR" title="STR">
          <input type="radio" name="groupOfStaff" value="工卡与计划室" title="工卡与计划室">
       </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">专业：</label>
      <label class="layui-form-label" id="majorCurrent">专业占位符</label>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-block">
          <input type="radio" name="majorOfStaff" value="ME" title="ME">
          <input type="radio" name="majorOfStaff" value="AV" title="AV">
          <input type="radio" name="majorOfStaff" value="CB" title="CB">
          <input type="radio" name="majorOfStaff" value="STR" title="STR">
          <input type="radio" name="majorOfStaff" value="" title="暂无">
        </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit="" lay-filter="changeForm">提交信息</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
<script src="/layui_dist/layui.js"></script>
<script>
layui.use(['form','jquery'],function(){
  var thisIframe = parent.layer.getFrameIndex(window.name);
  var form = layui.form;
  var $ = layui.$;
  var $$ = parent.layui.$;
  
  // 父子页面传参
  var openedStaff = layui.data('openedStaff');
  $("#idCurrent")[0].innerHTML = openedStaff.idStaff;
  $("#nameCurrent")[0].innerHTML = openedStaff.nameOfStaff;
  $("#postCurrent")[0].innerHTML = openedStaff.postOfStaff;
  $("#majorCurrent")[0].innerHTML = openedStaff.majorOfStaff;
  $("#groupCurrent")[0].innerHTML = openedStaff.groupOfStaff;

  form.on("submit(changeForm)",function(data){
    var dataFromForm = data.field;
    dataFromForm['idStaff'] = openedStaff.idStaff;
    console.log(dataFromForm);
    $.ajax({
      type: "get",
      url: "/staff/changeStaffValue",
      data: dataFromForm,
      dataType: "json",
      success: function (res) {
        var thisIframe = parent.layer.getFrameIndex(window.name);
        layui.data('res',{key:"SUCCESS",value:res.SUCCESS});
        parent.layui.layer.close(thisIframe);
      }
    });
  });
});
</script>
</body>
</html>