<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="/layui_dist/css/layui.css">
  <link rel="stylesheet" href="/stylesheets/bodystyle.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
      <a href="/"><div class="layui-logo"><%= title %></div></a>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            贤心
          </a>
          <dl class="layui-nav-child">
            <dd><a href="">基本资料</a></dd>
            <dd><a href="">安全设置</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">退了</a></li>
      </ul>
    </div>
    
    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
          <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">人力资源管理</a>
            <dl class="layui-nav-child">
              <dd><a href="/humanresource">人员列表</a></dd>
              <dd><a href="/project">项目列表</a></dd>
              <dd><a href="/arrangement">人力安排</a></dd>
              <dd><a href="/hrChart">计划总览</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">工时统计</a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;">子列表占位符一</a></dd>
              <dd><a href="javascript:;">子列表占位符二</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
   
    <div class="layui-body">
    <!-- 内容主体区域 -->
      <div class="indexBackground layui-col-space10">
        <div class="layui-col-md3">
          <div class="layui-card">
            <div class="layui-card-header"><button id="arrangeSubmit" class="layui-btn layui-btn-sm">提交</button></div>
            <div class="layui-card-body">
              <table class="layui-table">
                <thead>
                  <tr>
                    <th>项目名称</th>
                    <th>起始日期</th>
                    <th>结束日期</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="nameOfProject"></td>
                    <td id="startdateOfProject"></td>
                    <td id="enddateOfProject"></td>
                  </tr>
                </tbody>
              </table>
              <div class="layui-box" id="dateChoose"></div>
            </div>
          </div>
        </div>
        <div class="tableSortable layui-col-md9">
          <div class="layui-col-md3">
            <div class="theadBox">
              <table class="layui-table">
                <thead>
                  <tr><th colspan="3">可用人员</th></tr>
                  <tr>
                    <th>职编</th>
                    <th>姓名</th>
                    <th>组别</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbodyBox">
              <table class="layui-table" id="staffAvailbleTable">
                <tbody></tbody>
              </table>
            </div>
          </div>
          <div class="layui-col-md3">
              <div class="theadBox">
                <table class="layui-table">
                  <thead>
                    <tr><th colspan="3">AV</th></tr>
                    <tr>
                      <th>职编</th>
                      <th>姓名</th>
                      <th>组别</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tbodyBox">
                <table class="layui-table" id="staffAVTable">
                  <tbody></tbody>
                </table>
              </div>
          </div>
          <div class="layui-col-md3">
              <div class="theadBox">
                <table class="layui-table">
                  <thead>
                    <tr><th colspan="3">CB/ME</th></tr>
                    <tr>
                      <th>职编</th>
                      <th>姓名</th>
                      <th>组别</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tbodyBox">
                <table class="layui-table" id="staffCBMETable">
                  <tbody></tbody>
                </table>
              </div>
          </div>
          <div class="layui-col-md3">
              <div class="theadBox">
                <table class="layui-table">
                  <thead>
                    <tr><th colspan="3">CL/STR</th></tr>
                    <tr>
                      <th>职编</th>
                      <th>姓名</th>
                      <th>组别</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tbodyBox">
                <table class="layui-table" id="staffCLSTRTable">
                  <tbody></tbody>
                </table>
              </div>
          </div>
        </div> 
      </div>
    </div>
    
    <div class="layui-footer">
      <!-- 底部固定区域 -->
      © layui.com - 底部固定区域
    </div>
  </div>
<script src="Sortablejs/Sortable.js"></script>
<script src="/layui_dist/layui.js"></script>
<script>
var isTableChange = 0;

layui.use(['table','laydate'],function(){
  var $ = layui.$;
  var laydate = layui.laydate;
  var table = layui.table;
  
  // get project's id user selected
  var projectToArrange = layui.sessionData("projectToArrange");
  if (JSON.stringify(projectToArrange) == "{}") {
    layer.msg('尚未选取项目');
    setTimeout(function(){
      history.go(-1);
    },1000);
  } else {
    $.ajax({
    type: "get",
    url: "/arrangement/getProjectInfo",
    data: projectToArrange,
    dataType: "json",
    success: function (response) {
      $("#nameOfProject").html(response.nameOfProject);
      $("#startdateOfProject").html(response.startdateOfProject);
      $("#enddateOfProject").html(response.enddateOfProject);
      
      var targetDate = new Date(response.startdateOfProject);
      targetDate = targetDate.toLocaleDateString();
      $.ajax({
        type: "get",
        url: "/arrangement/getStaffAvailble",
        data: {_id:response._id,targetDate:targetDate},
        dataType: "json",
        success: function (res) {
          sortableTableServerToWeb(res.staffAvailbleList,'#staffAvailbleTable tbody');
          sortableTableServerToWeb(res.threeGroupList[0],'#staffAVTable tbody');
          sortableTableServerToWeb(res.threeGroupList[1],'#staffCBMETable tbody');
          sortableTableServerToWeb(res.threeGroupList[2],'#staffCLSTRTable tbody');
        }
      });
      laydate.render({
        elem:"#dateChoose",
        position:'static',
        value:response.startdateOfProject,
        min:response.startdateOfProject,
        max:response.enddateOfProject,
        showBottom:false,
        done: function(value) {
          var targetDate = new Date(value);
          targetDate = targetDate.toLocaleDateString();
          if (isTableChange == 1) {
            layer.alert('您尚未提交，是否确认切换',function(index) {
              $.ajax({
                type: "get",
                url: "/arrangement/getStaffAvailble",
                data: {_id:response._id,targetDate:targetDate},
                dataType: "json",
                success: function (res) {
                  sortableTableServerToWeb(res.staffAvailbleList,'#staffAvailbleTable tbody');
                  sortableTableServerToWeb(res.threeGroupList[0],'#staffAVTable tbody');
                  sortableTableServerToWeb(res.threeGroupList[1],'#staffCBMETable tbody');
                  sortableTableServerToWeb(res.threeGroupList[2],'#staffCLSTRTable tbody');
                  isTableChange = 0;
                }
              });
              layer.close(index);
            });
          } else {
            $.ajax({
              type: "get",
              url: "/arrangement/getStaffAvailble",
              data: {_id:response._id,targetDate:targetDate},
              dataType: "json",
              success: function (res) {
                sortableTableServerToWeb(res.staffAvailbleList,'#staffAvailbleTable tbody');
                sortableTableServerToWeb(res.threeGroupList[0],'#staffAVTable tbody');
                sortableTableServerToWeb(res.threeGroupList[1],'#staffCBMETable tbody');
                sortableTableServerToWeb(res.threeGroupList[2],'#staffCLSTRTable tbody');
                isTableChange = 0;
              }
            });
          }
        }
      });
    }
  });
  } 

  // initiate sortable 
  var sortableTables = [
    $('#staffAvailbleTable tbody')[0],
    $('#staffAVTable tbody')[0],
    $('#staffCBMETable tbody')[0],
    $('#staffCLSTRTable tbody')[0]
  ]
  for(var i=0;i<sortableTables.length;i++) {
   new Sortable(sortableTables[i],{
    group:'arrangeTable',
    multiDrag:true,
    selectedClass:'selected',
    animation:250,
    onAdd: function (evt) {
      isTableChange = 1;
    }
   }); 
  }

  // test code (need to delete)
  $('#arrangeSubmit').click(function(){
  
  });
});

// catch data from each table
function sortableTableWebToServer(trID) {
  var trList = layui.$(trID);
  var tbodyJson = [];
  for (var i=0;i<trList.length;i++) { 
    tbodyJson.push({
      idStaff:trList[i].children[0].innerText,
      nameOfStaff:trList[i].children[1].innerText,
      groupOfStaff:trList[i].children[2].innerText
    });
  }
  return tbodyJson;
}
// render list to tbody
function sortableTableServerToWeb (tbodyJson,tbodyID) {
  layui.$(tbodyID).empty();
  if (tbodyJson.length != 0) {
    for (var i=0;i<tbodyJson.length;i++) {
      layui.$(tbodyID).append(
        '<tr><td style="width:33%">' + tbodyJson[i].idStaff + '</td><td style="width:33%">' + tbodyJson[i].nameOfStaff + '</td><td style="width:33%">' + tbodyJson[i].groupOfStaff + '</td></tr>'
      );
    }
  }
}

layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>