<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/layui_dist/css/layui.css">
  <link rel="stylesheet" href="/stylesheets/bodystyle.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <a href="/"><div class="layui-logo"><%= title %></div></a>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">人力资源管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/humanresource">人员列表</a></dd>
            <dd><a href="/project">项目列表</a></dd>
            <dd><a href="/arrangement">人力安排</a></dd>
            <dd><a href="/hrChart">计划总览</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">工时统计</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">子列表占位符一</a></dd>
            <dd><a href="javascript:;">子列表占位符二</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <table id="staffTable" lay-filter="staffTable"></table>
    <script type="text/html" id="toolbarStaffTable">
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addOneStaff">添加一名人员</button>
        <input id="add_status" value="" hidden="hidden">
        <input id="change">
      </div>
    </script> 
    <script type="text/html" id="barStaffTable">
      <a class="layui-btn layui-btn-xs" lay-event="editValue">编辑人员信息</a><input id="ifChangeValue" value="" hidden="hidden">
      <a class="layui-btn layui-btn-xs" lay-event="editStatus">编辑人员状态</a><input id="ifChangeStatus" value="" hidden="hidden">
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delStaff">删除人员</a>
    </script>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="/layui_dist/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('table', function(){
  var table = layui.table;
  var $ = layui.$;
  //第一个实例
  table.render({even:'true',
    elem: '#staffTable'
    // ,height: 500  默认铺满
    ,url: '/staff/getAllStaff' //数据接口
    ,parseData: function(res){ //res 即为原始返回的数据
      return {
        "code": 0, //解析接口状态
        "msg": " ", //解析提示文本
        "count": res.length, //解析数据长度
        "data": res //解析数据列表
      };
    }
    ,page: false //开启分页
    ,toolbar: '#toolbarStaffTable'
    ,cols: [[ //表头{checkbox: false, fixed: true},
      {field: 'idStaff', title: '职编', sort: true}
      ,{field: 'nameOfStaff', title: '姓名', sort: true}
      ,{field: 'majorOfStaff', title: '专业', sort: true}
      ,{field: 'groupOfStaff', title: '组别', sort: true}
      ,{field: 'postOfStaff', title: '岗位名称'} 
      ,{field: 'statusOfStaff', title: '状态'}
      ,{/*fixed: 'right',*/title:'操作',toolbar:'#barStaffTable',width:280}
    ]]
  });
   //头工具栏事件
   table.on('toolbar(staffTable)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
      case 'addOneStaff':
        layer.open({
          type:2
          ,title: "添加一名成员"
          ,area: ['600px', '400px']
          ,content: "/IframeAddStaff"
          ,success:function(){}
          ,end:function(){
            var add_status = $("#add_status").val();
            if(add_status == "1"){
              layer.msg('添加成功！',{
                    time: 2000 
                },function(){
                    history.go(0);
                });
            }else if (add_status == "0"){
              layer.msg('添加失败！',{
                    time: 2000
                },function(){
                    history.go(0);
                });
            }
          }
        });
      break;
    };
  });
  //监听行工具事件
  table.on('tool(staffTable)', function(obj){
    var data = obj.data;
    layui.data("openedDocument",{key:"idStaff",value:obj.data.idStaff});
    layui.data("openedDocument",{key:"nameOfStaff",value:obj.data.nameOfStaff});
    layui.data("openedDocument",{key:"postOfStaff",value:obj.data.postOfStaff});
    layui.data("openedDocument",{key:"groupOfStaff",value:obj.data.groupOfStaff});
    layui.data("openedDocument",{key:"majorOfStaff",value:obj.data.majorOfStaff});
    switch(obj.event){
      case "editValue":
        layer.open({
          title: "编辑人员个人信息"
          ,type:2
          ,area: ['780px','570px']
          ,content:"/IframeChangeStaffValue"
          ,success:function(){}
          ,end:function(){
            layui.data('document', null);
            var ifChangeValue = $("#ifCHangeValue").val();
            if(ifChangeValue == "1"){
              layer.msg('编辑成功！',{
                    time: 2000 
                },function(){
                    history.go(0);
                });
            }else if (ifChangeValue == "0"){
              layer.msg('编辑失败！',{
                    time: 2000
                },function(){
                    history.go(0);
                });
            }
          }
        });
      break;
      case "editStatus":
        layer.open({
          title:"编辑人员状态"
          ,type:2
          ,content:"/IframeChangeStaffStatus"
          ,area:['530px','560px']
          ,success:function(){
          }
          ,end:function(){
            layui.data('document', null);
          }
        });
      break;
      case "delStaff":
        layer.confirm("确认删除该人员？",function(index){
          $.ajax({
            type: "get",
            url: "/staff/deleteOneStaff",
            data: {idStaff:obj.data.idStaff},
            dataType: "json",
            success: function (res) {
              if (res.SUCCESS == 1) {
                obj.del();
                layer.msg("删除成功",{
                  time:2000
                });
                layer.close(index);
              }
            }
          });
        });
      break;
    };
    
  });
});
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>