<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/layui_dist/css/layui.css">
  <link rel="stylesheet" href="/stylesheets/bodystyle.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <a href="/"><div class="layui-logo"><%= title %></div></a>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">人力资源管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/humanresource">人员列表</a></dd>
            <dd><a href="/project">项目列表</a></dd>
            <dd><a href="/arrangement">人力安排</a></dd>
            <dd><a href="/hrChart">计划总览</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">工时统计</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">子列表占位符一</a></dd>
            <dd><a href="javascript:;">子列表占位符二</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
     
        <div class="dataCollect layui-card">
          <div class="layui-card-header">数据统计</div>
          <div class="layui-card-body">
            <div id="dataInDay" style="width: 100%;height:100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="/layui_dist/layui.js"></script>
<script src="/echarts_dist/echarts.js"></script>
<script src="/echarts_dist/theme/dark.js"></script>
<script>
//Layui组件渲染代码区域
layui.use(['laydate','jquery'],function(){
  var laydate = layui.laydate;
  var $ = layui.$;
  laydate.render({
    elem:"#dateChoose"
    ,position: 'static'
    ,showBottom: false
    ,done: function(value) {
      var targetDate = parseInt(value.slice(0,4)) * 10000 + parseInt(value.slice(5,7)) * 100 + parseInt(value.slice(8,10));
      $.ajax({
        url:'/stastics/statusInDay',
        type:'get',
        data:{date:targetDate},
        dataType:'json',
        success:function(data){
            option.dataset.source = data;
            chartInMain.setOption(option);
        }
      })
      console.log(value);
    }
  });
});
layui.use('element', function(){
  var element = layui.element;
  
});

// Echarts组件渲染
var pathSymbols = { plane: 'path://M1.112,32.559l2.998,1.205l-2.882,2.268l-2.215-0.012L1.112,32.559z M37.803,23.96 c0.158-0.838,0.5-1.509,0.961-1.904c-0.096-0.037-0.205-0.071-0.344-0.071c-0.777-0.005-2.068-0.009-3.047-0.009 c-0.633,0-1.217,0.066-1.754,0.18l2.199,1.804H37.803z M39.738,23.036c-0.111,0-0.377,0.325-0.537,0.924h1.076 C40.115,23.361,39.854,23.036,39.738,23.036z M39.934,39.867c-0.166,0-0.674,0.705-0.674,1.986s0.506,1.986,0.674,1.986 s0.672-0.705,0.672-1.986S40.102,39.867,39.934,39.867z M38.963,38.889c-0.098-0.038-0.209-0.07-0.348-0.073 c-0.082,0-0.174,0-0.268-0.001l-7.127,4.671c0.879,0.821,2.42,1.417,4.348,1.417c0.979,0,2.27-0.006,3.047-0.01 c0.139,0,0.25-0.034,0.348-0.072c-0.646-0.555-1.07-1.643-1.07-2.967C37.891,40.529,38.316,39.441,38.963,38.889z M32.713,23.96 l-12.37-10.116l-4.693-0.004c0,0,4,8.222,4.827,10.121H32.713z M59.311,32.374c-0.248,2.104-5.305,3.172-8.018,3.172H39.629 l-25.325,16.61L9.607,52.16c0,0,6.687-8.479,7.95-10.207c1.17-1.6,3.019-3.699,3.027-6.407h-2.138 c-5.839,0-13.816-3.789-18.472-5.583c-2.818-1.085-2.396-4.04-0.031-4.04h0.039l-3.299-11.371h3.617c0,0,4.352,5.696,5.846,7.5 c2,2.416,4.503,3.678,8.228,3.87h30.727c2.17,0,4.311,0.417,6.252,1.046c3.49,1.175,5.863,2.7,7.199,4.027 C59.145,31.584,59.352,32.025,59.311,32.374z M22.069,30.408c0-0.815-0.661-1.475-1.469-1.475c-0.812,0-1.471,0.66-1.471,1.475 s0.658,1.475,1.471,1.475C21.408,31.883,22.069,31.224,22.069,30.408z M27.06,30.408c0-0.815-0.656-1.478-1.466-1.478 c-0.812,0-1.471,0.662-1.471,1.478s0.658,1.477,1.471,1.477C26.404,31.885,27.06,31.224,27.06,30.408z M32.055,30.408 c0-0.815-0.66-1.475-1.469-1.475c-0.808,0-1.466,0.66-1.466,1.475s0.658,1.475,1.466,1.475 C31.398,31.883,32.055,31.224,32.055,30.408z M37.049,30.408c0-0.815-0.658-1.478-1.467-1.478c-0.812,0-1.469,0.662-1.469,1.478 s0.656,1.477,1.469,1.477C36.389,31.885,37.049,31.224,37.049,30.408z M42.039,30.408c0-0.815-0.656-1.478-1.465-1.478 c-0.811,0-1.469,0.662-1.469,1.478s0.658,1.477,1.469,1.477C41.383,31.885,42.039,31.224,42.039,30.408z M55.479,30.565 c-0.701-0.436-1.568-0.896-2.627-1.347c-0.613,0.289-1.551,0.476-2.73,0.476c-1.527,0-1.639,2.263,0.164,2.316 C52.389,32.074,54.627,31.373,55.479,30.565z'}
var chartInMain = echarts.init(document.getElementById('dataInDay'), 'roma');
var xData = function() {
    var data = [];
    for (var i = 1; i < 31; i++) {
        data.push(+i + "日");
    }
    return data;
}();
var option = {
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    legend: {
        data:['ME','AV','STR','CB','全部',]
    },
    grid: {
        left: '3%',
        right: '0%',
        bottom: '3%',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            data :xData
        }
    ],

  
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'ME',//实际
            type:'bar',
            data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
            stack: "总量",
            symbol: pathSymbols.plane,
        },
        {
            name:'AV',//实际
            type:'bar',
            stack: "总量",
            data:[120, 132, 101, 134, 90, 230, 210, 132, 101, 134, 90, 230, 210, 290, 330, 310,134, 90,  332, 301, 334]
        },
        {
            name:'CB',//实际
            type:'bar',
            stack: "总量",
            data:[220, 182, 191, 234, 290, 330, 310, 182, 191, 234, 290, 330, 310, 290, 330, 310,134, 90,  332, 301, 334]
        },
        {
            name:'STR',//实际
            stack: "总量",
            type:'bar',
            data:[150, 232, 201, 154, 190, 330, 410, 182, 191, 234, 290, 330, 310, 290, 330, 310,134, 90,  332, 301, 334]
        },
        

        {
            name:'ME',//需求
            type:'line',
            data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334]
        },
        {
            name:'AV',//需求
            type:'line',
           
            data:[120, 132, 101, 134, 90, 230, 210, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334]
        },
        {
            name:'CB',//需求
            type:'line',
           
            data:[220, 182, 191, 234, 290, 330, 310,134, 90,  332, 301, 334, 390, 290, 330, 310,134, 90,  332, 301, 334]
        },
        {
            name:'STR',//需求
            type:'line',
            data:[150, 232, 201, 154, 190, 330, 234, 290, 330, 310,134, 90,  332,234, 290, 330, 310,134, 90,  332, 90,  332]
        },
        {
            name:'全部',
            type:'line',
            data:[862, 1018, 964, 1026, 1679, 1600, 1570, 1018, 964, 1026, 1679, 1600, 1570, 1018, 964, 1026, 1679, 1600, 1570],
            symbol: pathSymbols.plane, symbolSize: [45, 20],
            markLine : {
                lineStyle: {
                    normal: {
                        type: 'dashed'
                    }
                },
                
                data : [
                    [{type : 'min'}, {type : 'max'}]
                ]
            }
        },
        
    ]
};

chartInMain.setOption(option);
</script>

</body>
</html>

