<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/layui_dist/css/layui.css">
  <link rel="stylesheet" href="/stylesheets/bodystyle.css">
  <script src="/layui_dist/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <a href="/"><div class="layui-logo"><%= title %></div></a>  
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">人力资源管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/humanresource">人员列表</a></dd>
            <dd><a href="/project">项目列表</a></dd>
            <dd><a href="/arrangement">人力安排</a></dd>
            <dd><a href="/hrChart">计划总览</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">工时统计</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">子列表占位符一</a></dd>
            <dd><a href="javascript:;">子列表占位符二</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
          <li class="layui-this">ME/CB</li>
          <li>AV</li>
          <li>STR/CL</li>
          <!-- <li>CB</li> -->
          <li>总人力</li>
        </ul>
        <div class="layui-tab-content" >
          <div class="layui-tab-item layui-show" ><div id="echartsAV" style="width: 155VH;height:715px;"></div> </div>
          <div class="layui-tab-item " ><div id="echratsCBME" style="width: 155VH;height:715px;"></div> </div>
          <div class="layui-tab-item " ><div id="echartsCLSTR" style="width:155VH;height:715px;"></div> </div>
          <div class="layui-tab-item " ><div id="echartsTotal" style="width: 155VH;height:715px;"></div> </div>
        </div>
      </div> 
<script src="/layui_dist/layui.js"></script>
<script>
    layui.use('element', function(){
      var element = layui.element;
      
    });
  </script>  
  </div>
    
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="/layui_dist/layui.js"></script>
<script src="/echarts_dist/echarts.js"></script>
<script src="/echarts_dist/theme/dark.js"></script>
<script src="/moment/moment.js"></script>
<script>


// Echarts组件渲染
var pathSymbols = { plane: 'path://M1.112,32.559l2.998,1.205l-2.882,2.268l-2.215-0.012L1.112,32.559z M37.803,23.96 c0.158-0.838,0.5-1.509,0.961-1.904c-0.096-0.037-0.205-0.071-0.344-0.071c-0.777-0.005-2.068-0.009-3.047-0.009 c-0.633,0-1.217,0.066-1.754,0.18l2.199,1.804H37.803z M39.738,23.036c-0.111,0-0.377,0.325-0.537,0.924h1.076 C40.115,23.361,39.854,23.036,39.738,23.036z M39.934,39.867c-0.166,0-0.674,0.705-0.674,1.986s0.506,1.986,0.674,1.986 s0.672-0.705,0.672-1.986S40.102,39.867,39.934,39.867z M38.963,38.889c-0.098-0.038-0.209-0.07-0.348-0.073 c-0.082,0-0.174,0-0.268-0.001l-7.127,4.671c0.879,0.821,2.42,1.417,4.348,1.417c0.979,0,2.27-0.006,3.047-0.01 c0.139,0,0.25-0.034,0.348-0.072c-0.646-0.555-1.07-1.643-1.07-2.967C37.891,40.529,38.316,39.441,38.963,38.889z M32.713,23.96 l-12.37-10.116l-4.693-0.004c0,0,4,8.222,4.827,10.121H32.713z M59.311,32.374c-0.248,2.104-5.305,3.172-8.018,3.172H39.629 l-25.325,16.61L9.607,52.16c0,0,6.687-8.479,7.95-10.207c1.17-1.6,3.019-3.699,3.027-6.407h-2.138 c-5.839,0-13.816-3.789-18.472-5.583c-2.818-1.085-2.396-4.04-0.031-4.04h0.039l-3.299-11.371h3.617c0,0,4.352,5.696,5.846,7.5 c2,2.416,4.503,3.678,8.228,3.87h30.727c2.17,0,4.311,0.417,6.252,1.046c3.49,1.175,5.863,2.7,7.199,4.027 C59.145,31.584,59.352,32.025,59.311,32.374z M22.069,30.408c0-0.815-0.661-1.475-1.469-1.475c-0.812,0-1.471,0.66-1.471,1.475 s0.658,1.475,1.471,1.475C21.408,31.883,22.069,31.224,22.069,30.408z M27.06,30.408c0-0.815-0.656-1.478-1.466-1.478 c-0.812,0-1.471,0.662-1.471,1.478s0.658,1.477,1.471,1.477C26.404,31.885,27.06,31.224,27.06,30.408z M32.055,30.408 c0-0.815-0.66-1.475-1.469-1.475c-0.808,0-1.466,0.66-1.466,1.475s0.658,1.475,1.466,1.475 C31.398,31.883,32.055,31.224,32.055,30.408z M37.049,30.408c0-0.815-0.658-1.478-1.467-1.478c-0.812,0-1.469,0.662-1.469,1.478 s0.656,1.477,1.469,1.477C36.389,31.885,37.049,31.224,37.049,30.408z M42.039,30.408c0-0.815-0.656-1.478-1.465-1.478 c-0.811,0-1.469,0.662-1.469,1.478s0.658,1.477,1.469,1.477C41.383,31.885,42.039,31.224,42.039,30.408z M55.479,30.565 c-0.701-0.436-1.568-0.896-2.627-1.347c-0.613,0.289-1.551,0.476-2.73,0.476c-1.527,0-1.639,2.263,0.164,2.316 C52.389,32.074,54.627,31.373,55.479,30.565z'}

var echartsAV = echarts.init(layui.$("#echartsAV"), 'roma');
var echartsCBME = echarts.init(layui.$("#echartsCBME"), 'roma');
var echartsCLSTR = echarts.init(layui.$("#echartsCLSTR"), 'roma');
var echartsTotal = echarts.init(layui.$("echartsTotal"), 'roma');

// OLD CODE BY MAO
/* var d = new Date(), y = d.getFullYear(), m = d.getMonth();
var firstDay = new Date(y, m+1, 1);
var lastDay = new Date(y, m + 2, 0);
var totalday=lastDay.getDate();
var xData = function() {
    var data = [];
    for (var i = 1; i <= totalday; i++) {
        data.push(+i + "日");
    }
    return data;
}(); */

// NEW CODE BY WU
var daysInThisMonth = moment().startOf('days').add(1,'days').diff(moment().startOf('days'),'days');
var xAxis = function () {
  var x = [];
  for (var i=0;i<daysInThisMonth;i++) {
    x.push(i+"日");
  }
  return x;
}();

//数据来源
var dataJson ={"MECBPlane":{
  "1日": 0,
  "2日": 0,
  "3日": 6,
  "4日": 6,
  "5日": 4,
  "6日": 4,
  "7日": 4,
  "8日": 0,
  "9日": 0,
  "10日": 6,
  "11日": 6,
  "12日": 6,
  "13日": 6,
  "14日": 6,
  "15日": 0,
  "16日": 0,
  "17日": 6,
  "18日": 6,
  "19日": 6,
  "20日": 14,
  "21日": 14,
  "22日": 0,
  "23日": 0,
  "24日": 10,
  "25日": 10,
  "26日": 10,
  "27日": 10,
  "28日": 10,
  "29日": 0,
  "30日": 0
},"MECBactual":{
  "1日": 0,
  "2日": 0,
  "3日": 13,
  "4日": 13,
  "5日": 13,
  "6日": 13,
  "7日": 13,
  "8日": 0,
  "9日": 0,
  "10日": 12,
  "11日": 13,
  "12日": 13,
  "13日": 13,
  "14日": 13,
  "15日": 0,
  "16日": 0,
  "17日": 10,
  "18日": 10,
  "19日": 14,
  "20日": 14,
  "21日": 14,
  "22日": 0,
  "23日": 0,
  "24日": 14,
  "25日": 14,
  "26日": 14,
  "27日": 14,
  "28日": 13,
  "29日": 0,
  "30日": 0
},"AVPlane":{
  "1日": 0,
  "2日": 0,
  "3日": 24,
  "4日": 24,
  "5日": 22,
  "6日": 22,
  "7日": 22,
  "8日": 0,
  "9日": 0,
  "10日": 24,
  "11日": 24,
  "12日": 24,
  "13日": 24,
  "14日": 24,
  "15日": 0,
  "16日": 0,
  "17日": 24,
  "18日": 24,
  "19日": 24,
  "20日": 26,
  "21日": 26,
  "22日": 0,
  "23日": 0,
  "24日": 26,
  "25日": 26,
  "26日": 26,
  "27日": 26,
  "28日": 26,
  "29日": 0,
  "30日": 0
},"AVactual":{
  "1日": 0,
  "2日": 0,
  "3日": 10,
  "4日": 10,
  "5日": 10,
  "6日": 10,
  "7日": 10,
  "8日": 0,
  "9日": 0,
  "10日": 10,
  "11日": 10,
  "12日": 10,
  "13日": 10,
  "14日": 10,
  "15日": 0,
  "16日": 0,
  "17日": 10,
  "18日": 10,
  "19日": 11,
  "20日": 11,
  "21日": 11,
  "22日": 0,
  "23日": 0,
  "24日": 11,
  "25日": 11,
  "26日": 11,
  "27日": 11,
  "28日": 11,
  "29日": 0,
  "30日": 0
},"STRCLPlane":{
  "1日": 0,
  "2日": 0,
  "3日": 4,
  "4日": 4,
  "5日": 2,
  "6日": 2,
  "7日": 2,
  "8日": 0,
  "9日": 0,
  "10日": 4,
  "11日": 4,
  "12日": 4,
  "13日": 4,
  "14日": 4,
  "15日": 0,
  "16日": 0,
  "17日": 4,
  "18日": 4,
  "19日": 4,
  "20日": 6,
  "21日": 6,
  "22日": 0,
  "23日": 0,
  "24日": 6,
  "25日": 6,
  "26日": 6,
  "27日": 6,
  "28日": 6,
  "29日": 0,
  "30日": 0
},"STRCLactual":{
  "1日": 0,
  "2日": 0,
  "3日": 7,
  "4日": 7,
  "5日": 7,
  "6日": 7,
  "7日": 7,
  "8日": 0,
  "9日": 0,
  "10日": 7,
  "11日": 7,
  "12日": 7,
  "13日": 7,
  "14日": 7,
  "15日": 0,
  "16日": 0,
  "17日": 7,
  "18日": 7,
  "19日": 7,
  "20日": 7,
  "21日": 7,
  "22日": 0,
  "23日": 0,
  "24日": 7,
  "25日": 7,
  "26日": 7,
  "27日": 7,
  "28日": 7,
  "29日": 0,
  "30日": 0
},
 
};

// 水印开始
var waterMarkText = 'OBV2';
var canvas = document.createElement('canvas');
var ctx = canvas.getContext('2d');
canvas.width = canvas.height = 200;
ctx.textAlign = 'center';
ctx.textBaseline = 'middle';
ctx.globalAlpha = 0.08;
ctx.font = '40px Microsoft Yahei';
ctx.translate(50, 50);
ctx.rotate(-Math.PI / 4);
ctx.fillText(waterMarkText, 0, 0);
//水印结束


var option1 = {
  tooltip : {
    trigger: 'axis',
    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
      type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  backgroundColor: {
    type: 'pattern',
    image: canvas,
    repeat: 'repeat'
  },
  title: [{
    text: "ME/CB人力情况",
      x: '50%',
      textAlign: 'center'
  }],
  legend: {
    x: '5%',
    data:['ME/CB需求','ME/CB实际']
    // data:['ME','AV','STR','CB','全部',]
  },
  grid: [{
    top: 50,
    width: '95%',
    bottom: 50,
    left: 50,
    containLabel: true
  }],
  yAxis: [{
    type: 'value',
    max: dataJson.all,
    splitLine: {
      show: false
    }
  }],
  xAxis: [{
    type: 'category',
    data:xData,
    axisLabel: {
      interval: 0,
      rotate: 30
    },
    splitLine: {
      show: false
    }
  }],
  series : [{
    name:'ME/CB需求',
    z: 3,
    type:'bar',
    // data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
    label: {
      normal: {
        position: 'top',
        show: true
      }
    },
    data: Object.keys(dataJson.MECBPlane).map(function (key) {
      return dataJson.MECBPlane[key];
    })
  },
  {
    name:'ME/CB实际',
    z: 3,
    type:'line',
    // data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
    label: {
      normal: {
        position: 'top',
        show: false
      }
    },
    data: Object.keys(dataJson.MECBactual).map(function (key) {
      return dataJson.MECBactual[key];
    })
  }]
};

var option2 = {
  tooltip : {
    trigger: 'axis',
    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
      type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  backgroundColor: {
    type: 'pattern',
    image: canvas,
    repeat: 'repeat'
  },
  title: [{
    text: 'AV人力情况',
    x: '50%',
    textAlign: 'center'
  }],
  legend: {
    x: '5%',
      data:['AV需求','AV实际']
      // data:['ME','AV','STR','CB','全部',]
    },
    grid: [{
      top: 50,
      width: '95%',
      bottom: 50,
      left: 50,
      containLabel: true
    }],
    yAxis: [{
        type: 'value',
        max: dataJson.all,
        splitLine: {
          show: false
        }
    }],
    xAxis: [{
      type: 'category',
      data:xData,
      axisLabel: {
        interval: 0,
        rotate: 30
      },
      splitLine: {
        show: false
      }
    }],
    series : [{
      name:'AV需求',
      z: 3,
      type:'bar',
      // data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
      label: {
        normal: {
          position: 'top',
          show: true
        }
      },
      data: Object.keys(dataJson.AVPlane).map(function (key) {
        return dataJson.AVPlane[key];
      })
    },
    {
      name:'AV实际',
      z: 3,
      type:'line',
      // data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
      label: {
        normal: {
          position: 'top',
          show: false
        }
      },
      data: Object.keys(dataJson.AVactual).map(function (key) {
           return dataJson.AVactual[key];
      })
    },
  ]
};

var option3 = {
  tooltip : {
    trigger: 'axis',
    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
      type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  backgroundColor: {
    type: 'pattern',
    image: canvas,
    repeat: 'repeat'
  },
  title: [{
    text: 'STR/CL人力情况',
    x: '50%',
    textAlign: 'center'
  }],
  legend: {
    x: '5%',
    data:['STR/CL需求','STR/CL实际']
    // data:['ME','AV','STR','CB','全部',]
  },
  grid: [{
    top: 50,
    width: '95%',
    bottom: 50,
    left: 50,
    containLabel: true
  }],
  yAxis: [{
    type: 'value',
    max: dataJson.all,
    splitLine: {
      show: false
    }
  }],
  xAxis: [{
    type: 'category',
    data:xData,
    axisLabel: {
      interval: 0,
      rotate: 30
    },
    splitLine: {
      show: false
    }
  }],
  series:[{
    name:'STR/CL需求',
    z: 3,
    type:'bar',
    // data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
    label: {
      normal: {
        position: 'top',
        show: true
      }
    },
    data: Object.keys(dataJson.STRCLPlane).map(function (key) {
      return dataJson.STRCLPlane[key];
    })
  },
  {
    name:'STR/CL实际',
    z: 3,
    type:'line',
    // data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
    label: {
      normal: {
        position: 'top',
          show: false
      }
    },
    data: Object.keys(dataJson.STRCLactual).map(function (key) {
      return dataJson.STRCLactual[key];
    })
  }]
};
var option5 = {
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    backgroundColor: {
      type: 'pattern',
      image: canvas,
      repeat: 'repeat'
    },
    title: [{
      text: '总体人力情况',
      x: '50%',
      textAlign: 'center'
    }],
    legend: {
      x: '5%',
      data:['ME/CB需求','AV需求','STR/CL需求','总实际']
      // data:['ME','AV','STR','CB','全部',]
    },
    grid: [{
      top: 50,
      width: '95%',
      bottom: 50,
      left: 50,
      containLabel: true
    }],
    yAxis: [{
      type: 'value',
      max: dataJson.all,
      splitLine: {
        show: false
      }
    }],
    xAxis: [{
      type: 'category',
      data:xData,
      axisLabel: {
        interval: 0,
        rotate: 30
      },
      splitLine: {
        show: false
      }
    }],
    series : [{
      name:'ME/CB需求',
        z: 3,
        type:'bar',
        // data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
        label: {
          normal: {
            position: 'top',
              show: false
          }
        },
        data: Object.keys(dataJson.MECBPlane).map(function (key) {
          return dataJson.MECBPlane[key];
        }),
        stack: 'Main'
    }, 
    {
      name:'AV需求',
      z: 3,
      type:'bar',
      // data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
      label: {
        normal: {
          position: 'top',
          show: false
        }
      },
      data: Object.keys(dataJson.AVPlane).map(function (key) {
            return dataJson.AVPlane[key];
      }),
      stack: 'Main'
    },
    {
      name:'STR/CL需求',
      z: 3,
      type:'bar',
      // data:[320, 332, 301, 334, 390, 330, 320, 332, 301, 334, 390, 330, 320, 290, 330, 310,134, 90,  332, 301, 334],
      label: {
        normal: {
          position: 'top',
          show: false
        }
      },
      data: Object.keys(dataJson.STRCLPlane).map(function (key) {
        return dataJson.STRCLPlane[key];
      }),
      stack: 'Main'
    },
    {
      name:'总实际',
      type:'line',
      data:[0,30,30,30,30,30,0,0,29,30,30,30,30,0,0,27,27,32,32,32,0,0,32,32,32,32,31,0,0],
      symbol: pathSymbols.plane, symbolSize: [45, 20],
        markLine : {
          lineStyle: {
            normal: {
              type: 'dashed'
            }
          },
          xAxisIndex: 1,
          yAxisIndex: 1,
          data: [
            [{type : 'min'}, {type : 'max'}]
          ]
        }
    }]
};

chartME.setOption(option1);
chartAV.setOption(option2);
chartSTR.setOption(option3);
// chartCB.setOption(option4);
chartMain.setOption(option5);
</script>

</body>
</html>

