<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/layui_dist/css/layui.css">
  <link rel="stylesheet" href="/stylesheets/bodystyle.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <a href="/"><div class="layui-logo"><%= title %></div></a>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">人力资源管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/humanresource">人员列表</a></dd>
            <dd><a href="/project">项目列表</a></dd>
            <dd><a href="/arrangement">人力安排</a></dd>
            <dd><a href="/hrChart">计划总览</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">工时统计</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">子列表占位符一</a></dd>
            <dd><a href="javascript:;">子列表占位符二</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <table id="projectTable" lay-filter="projectTable"></table>
    <script type="text/html" id="toolbarProjectTable">
      <div class="layui-btn-container">
       <button class="layui-btn layui-btn-sm" lay-event="addOneProject">新增项目</button>
      </div>
    </script> 
    <script type="text/html" id="barProjectTable">
      <a class="layui-btn layui-btn-xs" lay-event="editHour">查看并编辑计划工时</a>
      <a class="layui-btn layui-btn-xs" lay-event="editProject">编辑项目</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delProject">删除项目</a>
    </script>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="/layui_dist/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('table', function(){
  var table = layui.table;
  var $ = layui.$;
  table.render({
    elem: '#projectTable'
    // ,height: 500  默认铺满
    ,url: '/project/getAllProject' //数据接口
    ,parseData: function(res){ //res 即为原始返回的数据
      return {
        "code": 0, //解析接口状态
        "msg": " ", //解析提示文本
        "count": res.length, //解析数据长度
        "data": res //解析数据列表
      };
    }
    ,page: false 
    ,toolbar: '#toolbarProjectTable'
    ,cols: [[ //表头
      {checkbox:true, fixed: true}
      ,{field: '_id', title: '项目编号', sort: true,hide:true}
      ,{field: 'nameOfProject', title: '项目名称', sort: true}
      ,{field: 'startdateOfProject', title: '项目开始日期'}
      ,{field: 'enddateOfProject', title: '项目结束日期'}
      ,{title:'操作',toolbar:'#barProjectTable'}
    ]]
  });

  //头工具栏事件
  table.on('toolbar(projectTable)', function(obj){
    var layEvent = obj.event; //获得 lay-event 对应的值
    switch (layEvent) {
      case 'addOneProject':
        layer.open({
          type:2
          ,title: "添加一份项目"
          ,area: ['740px', '560px']
          ,content: "/IframeAddProject" 
          ,success: function(){}
          ,end: function(){
            var resFromIframe = layui.data('res');
            layui.data('res',null);
            if(resFromIframe.SUCCESS == "1"){
              layer.msg('添加成功！',{
                time: 2000 
              },function(){
                history.go(0);
              });
            } else {
              layer.msg('添加失败！');       
            }
          }      
        });
      break;
    }
  });
  table.on('tool(projectTable)', function(obj){
    layui.data('openedProject',{key:"_id",value:obj.data._id});
    layui.data('openedProject',{key:"nameOfProject",value:obj.data.nameOfProject});
    layui.data('openedProject',{key:"startdateOfProject",value:obj.data.startdateOfProject});
    layui.data('openedProject',{key:"enddateOfProject",value:obj.data.enddateOfProject});
    switch(obj.event){
      case "editHour":
        layer.open({
          type:2,
          title:'确认计划工时',
          area:['1500px','510px'],
          content:"/IframeChangeHour",
          end: function () {
            
          }
        })
      break;
      case "editProject":
        layer.open({
          type:2
          ,title: "编辑一份项目"
          ,area: ['700px', '500px']
          ,content: "/IframeChangeProject"
          ,end: function(){
            var resFromIframe = layui.data('res');
            layui.data('res',null);
            if (resFromIframe.SUCCESS == 1){
              layer.msg('编辑成功',{
                time:2000
              },function(){
                history.go(0);
                });
            } else {
              layer.msg('编辑失败',{
                time:2000
              });
            }
          }
        });
      break;
      case "delProject":
        layer.confirm("确认删除该项目？",function(index) {
          $.ajax({
            type: "get",
            url: "/project/deleteOneProject",
            data: {_id:obj.data._id},
            dataType: "json",
            success: function (res) {
              var projectToArrange = layui.sessionData('projectToArrange');
              if (obj.data._id == projectToArrange._id) {
                layui.sessionData('projectToArrange',null);
              }
              if (res.SUCCESS == 1) {
                obj.del();
                layer.msg("删除成功",{
                  time:2000
                });
                layer.close(index);
              }
            }
          });
        });
      break; 
    }
  });
  //监听双击行事件
  table.on('rowDouble(projectTable)',function(obj){
    layer.confirm('确认对该项目进行人力安排？',function(index){
      layui.sessionData('projectToArrange',{key:'_id',value:obj.data._id});
      layer.close(index);
      window.location.href = '/arrangement';
    });
  });
});

layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>