.indexBackground {
  margin: 20px;
  padding: 20px;
  height: 90%; 
  background-color: #F2F2F2;
}

.dataCollect .layui-card-body{
  height: 72vh;
}
#dateChoose .layui-laydate-main{
  width: 100%;
}
#dateChoose .layui-laydate-content td,#dateChoose .layui-laydate-content th {
  width:1000px;
}

.layui-table {
  margin-top: 0;
  margin-bottom: 0;
}
.theadBox {
  overflow-y: scroll;
}
.tbodyBox {
  height: 72vh;
  overflow-y: scroll;
}

.selected {
  color: firebrick;
}